<div class="grid">
  <div class="recipe form-card">
    <h3><%= @cocktail.name %></h3>
    <h4>Recipe:</h4>
    <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <div class="line">
          <%= dose.description %> of <%= dose.ingredient.name %>
          <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' }, class: 'buttons' %>
        </div>
      </li>
    <% end %>
    </ul>
    <%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary delete-cocktail" %>
  </div>
  <div class="cocktail-image text-center form-card">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="cocktail-form form-card">
    <%= render 'doses/form' %>
  </div>
</div>


